<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .content{
            height: 54px;
        }
    </style>
</head>
<body>
<h1>Add Note</h1>
<form th:action="@{/note/add}" method="post" th:object="${note}">
    <p><input type="text" th:field="*{title}" placeholder="Назва нотатки" size="18" /></p>
    <p><input class="content" type="text" th:field="*{content}" placeholder="Текст" size="18"  /></p>
    <button type="submit">Створити нотатку</button>
</form>
</body>
</html>